body {
  background-color: hsl(0, 0%, 40%);
}

.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px
}

h1 {
  font-size: 2rem;
  color: white;
}

.priority-heading {
    margin-top: 10px;
    font-size: 1.5rem;
}

.priority-heading.high {
    color: #d51500;        /* strong red */
}

.priority-heading.medium {
    color: #d35400;        /* orange */
}

.priority-heading.low {
    color: #2746ae;        /* green */
}

button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}

.delete-button {
  background-color: hsl(10, 90%, 60%);
}

.delete-button:hover {
  background-color: hsl(10, 90%, 50%);
}

.move-button {
  background-color: hsl(207, 90%, 64%);
}

.move-button:hover {
  background-color: hsl(207, 90%, 54%);
}

input[type="text"] {
  font-size: 1.2rem;
  padding: 5px;
  border: 1px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

ol {
  padding: 0;
}

li {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 7px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 5px;
  border: 2px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
 }

.text {
  flex: 1;
 }

 .to-do-list input[type="checkbox"] {
    width: 15px;
    height: 15px;
    transform: scale(1.5);
    margin-right: 8px;
    cursor: pointer;
}

.text.checked {
    text-decoration: line-through;
    color: #777;
}

.delete-button, .move-button {
  padding: 4px 6px;
  font-size: 1rem;
  margin-left: 5px;
}