body {
  background-color: hsl(0, 0%, 40%);
  font-family: Arial, sans-serif;
}

.to-do-list {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  color: white;
}

.priority-heading {
  margin-top: 10px;
  font-size: 1.5rem;
}

.priority-heading.high {
  color: #d51500; /* strong red */
}

.priority-heading.medium {
  color: #d35400; /* orange */
}

.priority-heading.low {
  color: #2746ae; /* blue */
}

.due-date {
  margin-left: 10px;
  font-size: 0.9rem;
  color: #444;
  font-weight: normal;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

button, .to-do-list input[type="text"] {
  font-size: 0.8rem;
}

button:disabled {
  visibility: hidden;
}

.add-button {
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}

.delete-button {
  background-color: hsl(10, 90%, 60%);
}

.delete-button:hover {
  background-color: hsl(10, 90%, 50%);
}

.move-button {
  background-color: hsl(207, 90%, 64%);
}

.move-button:hover {
  background-color: hsl(207, 90%, 54%);
}

.delete-button, .move-button {
  padding: 4px 6px;
  font-size: 1rem;
  margin-left: 5px;
}

.increase-priority-button,
.decrease-priority-button {
  white-space: normal;
  text-align: center;
  line-height: 1.2;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: black;
}

input[type="text"]::placeholder {
  color: hsla(0, 0%, 0%, 0.5);
}

ol {
  padding: 0;
  max-height: 70vh;
  overflow-y: auto;
}

li {
  font-weight: bold;
  padding: 7px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 5px;
  border: 2px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.text {
  flex: 1;
}

.text.checked {
  text-decoration: line-through;
  color: #777;
}

.to-do-list input[type="checkbox"] {
  width: 15px;
  height: 15px;
  transform: scale(1.5);
  margin-right: 8px;
  cursor: pointer;
}
